.DS_Store

# Ignore folders
Output/
.ipynb_checkpoints
__pycache__/
.vscode
temp/
config.yml
merged
ms2_cy5_20210518
GAPDH_Exon_Cy5
dataBases/
config
**/[C]onfig*
dataframe.csv
temp_*
~$*
Figure_Distributions_*
out.txt
output.txt
analyses/
output__*
slurm-*
out-*
masks_*
test_kk
