.DS_Store

# Ignore folders
Output/
.ipynb_checkpoints
__pycache__/
.vscode
temp/
config.yml
merged
ms2_cy5_20210518
GAPDH_Exon_Cy5
dataBases/
config
**/[C]onfig*
dataframe.csv
temp_*
~$*
Figure_Distributions_*
out.txt
output.txt
analyses/
analyses_*
output__*
slurm-*
out-*
masks_*
tests/
results/
test*/
test*
filtered_images_*/
kk*
test_simulation/
database*
OneDrive*/
.idea/FISH_Processing.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
src/SandBox/pdf_report_H128_Tiles_100ms_5mW_Blue_15x15_10z_05step_2.pdf
src/SandBox/original_images_H128_Tiles_100ms_5mW_Blue_15x15_10z_05step_2.pdf
src/SandBox/metadata_H128_Tiles_100ms_5mW_Blue_15x15_10z_05step_2.txt
src/SandBox/images_report_H128_Tiles_100ms_5mW_Blue_15x15_10z_05step_2.csv
src/SandBox/pipelineData.pkl
src/SandBox/segmentation_images_H128_Tiles_100ms_5mW_Blue_15x15_10z_05step_2.pdf
src/SandBox/Sequence diagram of .PipelineFISH() of -src-fish_analyses.py.mmd
src/SandBox/cells_channel_0_H128_Tiles_100ms_5mW_Blue_15x15_10z_05step_2.pdf
src/SandBox/dataframe_H128_Tiles_100ms_5mW_Blue_15x15_10z_05step_2.csv
cluster/pipeline_package/Standard_Pipeline/settings.pkl
.idea/inspectionProfiles/Project_Default.xml
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_0.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_1.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_10.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_11.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_12.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_13.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_14.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_15.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_16.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_17.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_18.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_19.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_2.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_3.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_4.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_5.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_6.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_7.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_8.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/AutomaticSpotDetection_JF/elbow_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_9.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/CellSegmentationStepClass_JF/ori_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_0.png
cluster/pipeline_package/Standard_Pipeline/data.pkl
cluster/pipeline_package/Standard_Pipeline/experiment.pkl
cluster/pipeline_package/Standard_Pipeline/pipeline_steps.pkl
cluster/pipeline_package/Standard_Pipeline/postpipeline_steps.pkl
cluster/pipeline_package/Standard_Pipeline/prepipeline_steps.pkl
cluster/pipeline_package/Standard_Pipeline/scope.pkl
Pipelines/Standard_Pipeline/data.pkl
Pipelines/Standard_Pipeline/experiment.pkl
Pipelines/Standard_Pipeline/pipeline_steps.pkl
Pipelines/Standard_Pipeline/postpipeline_steps.pkl
Pipelines/Standard_Pipeline/prepipeline_steps.pkl
Pipelines/Standard_Pipeline/scope.pkl
Pipelines/Standard_Pipeline/settings.pkl
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/BIGFISH_SpotDetection/cell_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_0_cell0.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/BIGFISH_SpotDetection/cell_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_1_cell0.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/BIGFISH_SpotDetection/detection_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_0.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/BIGFISH_SpotDetection/detection_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_1.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/BIGFISH_SpotDetection/elbowPlot_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_0.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/BIGFISH_SpotDetection/elbowPlot_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_1.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/BIGFISH_SpotDetection/referenceSpot_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_0.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/BIGFISH_SpotDetection/referenceSpot_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_1.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/CellSegmentationStepClass_JF/ori_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_1.png
cluster/output_rep1_4hr_zStacksAtSelectedLocations_1/CellSegmentationStepClass_JF/ori_rep1_4hr_zStacksAtSelectedLocations_NDTiffStack_tp_0_fov_2.png
cluster/pipeline_package/Standard_Pipeline/experiment.txt
cluster/pipeline_package/Standard_Pipeline/scope.txt
cluster/pipeline_package/Standard_Pipeline/settings.txt
cluster/Standard_Pipeline.zip
cluster/Standard_Pipeline/data.pkl
cluster/Standard_Pipeline/experiment.txt
cluster/Standard_Pipeline/pipeline_steps.pkl
cluster/Standard_Pipeline/postpipeline_steps.pkl
cluster/Standard_Pipeline/prepipeline_steps.pkl
cluster/Standard_Pipeline/scope.txt
cluster/Standard_Pipeline/settings.txt
Pipelines/Standard_Pipeline/experiment.txt
Pipelines/Standard_Pipeline/scope.txt
Pipelines/Standard_Pipeline/settings.txt
*.mp4
*.png
config_nas.yml
config_cluster.yml
