big-fish>=0.6.1
cellpose~=2.0.0
pysmb>= 1.2.7
joblib>=1.1.0
tqdm>=4.62.3
pysmb>=1.2.7
tifffile>=2020.9.3
ipykernel>=5.5.6
scikit-image>=0.14.2
fpdf>=1.7.2
seaborn>=0.11.2
PyYAML>=6.0
croparray~=0.0.8
matplotlib-scalebar~=0.8.1