big-fish
bokeh
Brotli
cellpose
celluloid
dask-expr
dask-image
exceptiongroup
fpdf
fqdn
h2
h5py
importlib_metadata
ipykernel
isoduration
joypy
jsonpointer
jupyter_server_proxy
matplotlib-scalebar
mmpycorex
munkres
ndstorage
onnxruntime-gpu
paramiko
pickleshare
pip-tools
pycromanager==0.29.10
pysmb
PySocks
pytest-cov
s3fs
seaborn
statsmodels
tables
torch-directml
torchaudio
trackpy
ufish
uri-template
webcolors
win-inet-pton
zstandard